<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offert-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form ngNativeValidate #formulario="ngForm">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input required type="text" placeholder="First Name" style="border: none;">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" >
                                    <span class="fa fa-user p-2"></span>
                                    <input required type="text" placeholder="Last Name" style="border: none;">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input required type="email" placeholder="Email" style="border: none;">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input required type="text" placeholder="Username" style="border: none;">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" >
                                    <span class="fa fa-lock p-2"></span>
                                    <input required [type]="type" name="" id="" placeholder="Password" style="border: none;">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <button type="submit" [disabled]="!formulario.valid" (click)="onSignup()" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have an account? <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>
                    <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3" style="align-items: end">
                            <a href="https://www.facebook.com" target="_blank" class="px-2"> <img src="../../../assets/img/Facebook.png" alt="google-logo"></a>
                            <a href="https://github.com" target="_blank" class="px-2"> <img src="../../../assets/img/github.png" alt="github-logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>