.outer {
    height: 100vh;
    background-image: linear-gradient(45deg,
            hsl(234deg 100% 50%) 0%,
            hsl(253deg 100% 54%) 11%,
            hsl(261deg 100% 53%) 22%,
            hsl(268deg 100% 52%) 33%,
            hsl(273deg 100% 50%) 44%,
            hsl(277deg 100% 50%) 56%,
            hsl(281deg 100% 50%) 67%,
            hsl(285deg 100% 50%) 78%,
            hsl(288deg 100% 50%) 89%,
            hsl(291deg 100% 50%) 100%);
}

.panel-heading {
    text-align: center;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    border-radius: 15px;
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 100px;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
}

input [type='text'],
input [type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative;
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0 8px;

}